html {
  font-size: 10px;
  background: url('./img/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat ;
  margin: 0;
  padding: 0;
}

body {
  display: flex; 
  flex-wrap: wrap; 
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.keys {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.key {
  display: flex;
  flex-direction: column;
  background-color: rgba(12, 10, 12, 0.479);
  border: 4px solid #ffc600;
  border-radius: 20%;
  padding: 15px;
  text-align: center;
  margin: 20px 15px;
  width: 100px;
  text-transform: uppercase;
  text-shadow: 0 0 5px #000;
  transition: all .2s ease;
}

.playing {
  transform: scale(1.1);
  border-color: #000;
  box-shadow: 0 0 10px #ffc600;
}

kbd {
  display: block;
  font-size: 30px;
  color: #fff;
  font-family: serif;
  line-height: 2;
}

.sound {
  font-size: 20px;
  font-family: sans-serif;
  letter-spacing: 1px;
  color:#ffc600;
} 
